<!DOCTYPE html>
<html>

	 <head th:replace="~{base :: head}"></head>
	 
	 <body>
	 
	 	  <div th:replace="~{base :: logo}"></div>
	 	  
	 	  <div class="container">
	 	  	  <div th:replace="~{base :: titulo('Resultado da Pesquisa')}"></div>
	 	  	  
	 	  	  <div class="card" th:object="${pais}">
	 	  	  	  <div class="card-body">
	 	  	  	  	  <h4 class="alert alert-success h4" th:text="${pais.nome}"></h4>
	 	  	  	  	  <div class="row">
	 	  	  	  	  	  <div class="col-12 col-sm-4">
	                          <div class="col-sm-8">
	                          	  <img class="img-thumbnail" th:src="${pais.imagem}"/>
	                          </div>
	                      </div>
	                      <div class="col-12 col-sm-8">
	                          <div class="row">
		                          <dt class="col-sm-5">Regime:</dt>
		                          <b class="col-sm-7" th:text="${pais.regime}"></b>
		                          <dt class="col-sm-5">Governo:</dt>
		                          <b class="col-sm-7" th:text="${pais.governo}"></b>
		                          <dt class="col-sm-5">População:</dt>
		                          <b class="col-sm-7" th:text="${#numbers.formatInteger(pais.populacao,3,'POINT')}"></b>
		                          <dt class="col-sm-5">Area:</dt>
		                          <b class="col-sm-7" th:text="${#numbers.formatInteger(pais.area,3,'POINT')}"></b>
		                      </div>    
	                      </div>
	 	  	  	  	  </div>
	 	  	  	  </div>
	 	  	  </div>
	 	  	  <a class="btn btn-success mt-3" href="/home" role="button">Home</a>
	 	  </div>

	 </body>
</html>